.filter {
  display: flex;
  justify-content: space-around;
}

.title {
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}

.filter select {
  width: 200px;
}

.filter select:hover {
  cursor: pointer;
}
