.new-elem {
  max-width: 500px;
}
.new-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.new-input input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px 8px;
}

.new-input select {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px 8px;
}

.new-button {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.error::placeholder {
  color: red;
}

/* .err :nth-child(2) {
  background-color: aqua;
  color: red;
} */
